body {
    background-color: orangered;
    font-family: 'Rubik Mono One';
}

h1 {
    text-align: center;
}

.card {
    list-style: none;
    padding: 30px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
    
}

.card:hover {
    animation: bounce 0.5s linear;
}

@keyframes bounce {
    20%{
        transform: translateY(-6px);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-2px);
    }
    80%{
        transform: translateY(0px);
    }
}

.card-title {
    font-size: 22px;
    font-weight: normal;
}

.card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
    font-size: 16px;
}

.card-image {
    height: 180px;
    margin: 0 auto;
}

#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
}


.contianer {
    padding: 40px;
    margin: 0 auto;
}


